h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: .5em;

  &:not(main :first-child) {
    margin-top: 2rem;
  }
}

h1, h2 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
